* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  color: rgb(53, 53, 53);
}

button {
  font-family: "Muli", sans-serif;
}
path,
i,
svg {
  pointer-events: none;
}

.colors {
  min-height: 80vh;
  display: flex;
  color: rgb(226, 226, 226);
}

.color {
  height: 80vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  overflow: hidden;
}

.color h2 {
  font-size: 2rem;
  cursor: pointer;
}

.sliders {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  /* opacity: 0; */
  padding: 1rem;
  width: 80%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  /* pointer-events: none; */
  /*  We are adding an adjustment class */
  /* transform: translateY(100px); */
  transition: all 0.5 ease-in-out;
}

.sliders.active {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.sliders button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: none;
  background-color: rgb(31, 33, 63);
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.controls {
  display: flex;
  flex-direction: column;
}

.panel {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 20vh;
}

.panel button {
  font-size: 1.2rem;
  margin: 1rem;
  padding: 1rem 1.5rem;
  background-color: rgb(31, 33, 63);
  color: white;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
}

.panel p {
  font-size: 1.2rem;
}

.library-panel,
.genera-panel,
.save-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adjust,
.lock {
  font-size: 2rem;
  border: none;
  cursor: pointer;
  background: none;
  margin: 2rem 0;
}

/* Slider stuff */

input[type="range"] {
  appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
}
